[submodule "urxvt/.config/urxvt/base16"]
	path = urxvt/.config/urxvt/base16
	url = git://github.com/chriskempson/base16-xresources.git
[submodule "urxvt/.config/base16-xresources"]
	path = urxvt/.config/base16-xresources
	url = git://github.com/chriskempson/base16-xresources.git
[submodule "doom-emacs/.emacs.d"]
	path = doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
	branch = develop
[submodule "tmux/.config/tmux/+plugins/tpm"]
	path = tmux/.config/tmux/+plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
